<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalender</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Kalender</h1>
        <nav>
            <a href="/">Översikt</a>
            <a href="/calendar">Kalender</a>
            <a href="/tasks">Uppgifter</a>
            <a href="/courses">Kurser</a>
        </nav>
    </header>

    <h2>Maj 2024</h2>

    <button type="button">Lägg till</button>

    <div>
        <button type="button">Bakåt</button>
        <button type="button">Framåt</button>
    </div>

    <div>
        <button type="button">Dagsvy</button>
        <button type="button">Veckovy</button>
        <button type="button">Månadsy</button>
    </div>

    <div>
        <p>Dölj</p>
        <label for="kurs1">Kurs 1</label>
        <input type="checkbox" name="kurs1" id="kurs1">
        <label for="kurs2">Kurs 2</label>
        <input type="checkbox" name="kurs2" id="kurs2">
        <label for="kurs3">Kurs 3</label>
        <input type="checkbox" name="kurs3" id="kurs3">
    </div>

    <table>
        <caption>Månadsvy</caption>
        <thead>
            <th>Mån</th>
            <th>Tis</th>
            <th>Ons</th>
            <th>Tors</th>
            <th>Fre</th>
            <th>Lör</th>
            <th>Sön</th>
        </thead>
        <tbody>
            <tr>
                <td><span>1</span><p>2 händelser</p></td>
                <td><span>2</span><p>0 händelser</p></td>
                <td><span>3</span><p>3 händelser</p></td>
                <td><span>4</span><p>5 händelser</p></td>
                <td><span>5</span><p>1 händelser</p></td>
                <td><span>6</span><p>4 händelser</p></td>
                <td><span>7</span><p>2 händelser</p></td>
            </tr>
            <tr>
                <td><span>1</span><p>2 händelser</p></td>
                <td><span>2</span><p>0 händelser</p></td>
                <td><span>3</span><p>3 händelser</p></td>
                <td><span>4</span><p>5 händelser</p></td>
                <td><span>5</span><p>1 händelser</p></td>
                <td><span>6</span><p>4 händelser</p></td>
                <td><span>7</span><p>2 händelser</p></td>
            </tr>
            <tr>
                <td><span>1</span><p>2 händelser</p></td>
                <td><span>2</span><p>0 händelser</p></td>
                <td><span>3</span><p>3 händelser</p></td>
                <td><span>4</span><p>5 händelser</p></td>
                <td><span>5</span><p>1 händelser</p></td>
                <td><span>6</span><p>4 händelser</p></td>
                <td><span>7</span><p>2 händelser</p></td>
            </tr>
            <tr>
                <td><span>1</span><p>2 händelser</p></td>
                <td><span>2</span><p>0 händelser</p></td>
                <td><span>3</span><p>3 händelser</p></td>
                <td><span>4</span><p>5 händelser</p></td>
                <td><span>5</span><p>1 händelser</p></td>
                <td><span>6</span><p>4 händelser</p></td>
                <td><span>7</span><p>2 händelser</p></td>
            </tr>
            <tr>
                <td><span>1</span><p>2 händelser</p></td>
                <td><span>2</span><p>0 händelser</p></td>
                <td><span>3</span><p>3 händelser</p></td>
                <td><span>4</span><p>5 händelser</p></td>
                <td><span>5</span><p>1 händelser</p></td>
                <td><span>6</span><p>4 händelser</p></td>
                <td><span>7</span><p>2 händelser</p></td>
            </tr>
            <tr>
                <td><span>1</span><p>2 händelser</p></td>
                <td><span>2</span><p>0 händelser</p></td>
                <td><span>3</span><p>3 händelser</p></td>
                <td><span>4</span><p>5 händelser</p></td>
                <td><span>5</span><p>1 händelser</p></td>
                <td><span>6</span><p>4 händelser</p></td>
                <td><span>7</span><p>2 händelser</p></td>
            </tr>   
        </tbody>
    </table>

    

    <a href="/">Tillbaka</a>
</body>
</html>