<div class="card">
    <div class="card-body">
        <h5 class="card-subtitle">Kursnamn</h5>
        <h4 class="card-title">Mål</h4>
        <p class="card-text">3 dagar kvar</p>
        <p class="card-text">2/5 uppgifter avklarade</p>
        <button class="btn btn-primary btn-sm toggle-task-button">Uppgifter</button>
        <div class="task-list">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Uppgift 1</h5>
                    <p class="card-text">2 dagar kvar</p>
                    <p class="card-text">1/3 deluppgifter avklarade</p>
                    <button class="btn btn-primary btn-sm toggle-subtask-button">Deluppgifter</button>
                    <ul class="list-group subtask-list">
                        <li class="list-group-item">Deluppgift 1</li>
                        <li class="list-group-item">Deluppgift 2</li>
                        <li class="list-group-item">Deluppgift 3</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Uppgift 2</h5>
                    <p class="card-text">5 dagar kvar</p>
                    <p class="card-text">2/4 deluppgifter avklarade</p>
                    <button class="btn btn-primary btn-sm toggle-subtask-button">Deluppgifter</button>
                    <ul class="list-group subtask-list">
                        <li class="list-group-item">Deluppgift 1</li>
                        <li class="list-group-item">Deluppgift 2</li>
                        <li class="list-group-item">Deluppgift 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>