<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uppgifter</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
<<<<<<<< HEAD:main/views/coursetasks.html
        <h1>Uppgifter - {{ course["kurskod"] }} {{ course["titel"] }}</h1>
========
        <h1>Uppgifter</h1>
>>>>>>>> origin/main:main/views/tasks.html
        <nav>
            <a href="/">Översikt</a>
            <a href="/calendar">Kalender</a>
            <a href="/tasks">Uppgifter</a>
            <a href="/courses">Kurser</a>
        </nav>
    </header>
<<<<<<<< HEAD:main/views/coursetasks.html
    
    <h2>Att göra</h2>
    <ul class="taskslist">
        % for task in tasks:
            <a href="/{{ course['kurskod'] }}/tasks/{{ task['id'] }}">
                <li>{{ task }}</li>
            </a>
        % end
    </ul>
========
>>>>>>>> origin/main:main/views/tasks.html

    

    

<<<<<<<< HEAD:main/views/coursetasks.html
        <button type="submit">Lägg till</button>
    </form>

    <a href="/{{ course['kurskod'] }}">Tillbaka till kurssida</a>

    <script>
        // Get the current date in the format yyyy-mm-dd
        const currentDate = new Date().toISOString().split('T')[0];
        
        // Set the minimum selectable date for the input element
        document.getElementById('task_date').min = currentDate;
    </script>
========
    <a href="/">Tillbaka</a>
>>>>>>>> origin/main:main/views/tasks.html
</body>
</html>