<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurssida - {{ course["kurskod"] }} {{ course["titel"] }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Kurssida - {{ course["kurskod"] }} {{ course["titel"] }}</h1>
        <nav>
            <a href="/">Översikt</a>
            <a href="/calendar">Kalender</a>
            <a href="/tasks">Uppgifter</a>
            <a href="/courses">Kurser</a>
        </nav>
    </header>

    
    <a href="/{{ course['kurskod'] }}/tasks">Uppgifter</a>
    <a href="/{{ course['kurskod'] }}/calendar">Kalender</a>

    <a href="/">Tillbaka till startsidan</a>
</body>
</html>