<!doctype html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BeWisePlanner</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet' />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>

    <style>
        body {
            font-family: "Lato", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .navbar-brand {
            font-family: "Inknut Antiqua", serif;
            font-weight: 700;
            font-style: normal;
        }

        #todo-heading {
            font-size: 1.75em;
        }

        a {
            color: initial;
            text-decoration: initial;
        }

        #todo {
            max-height: 598px;
            overflow-y: auto;
        }

        #todo input,
        #todo label {
            cursor: pointer;
        }

        #calendar {
            position: relative;
        }

        #filters {
            display: none;
            /* Start hidden */
            position: absolute;
            top: 4%;
            left: 45%;
            width: 100%;
            box-shadow: none;
            background-color: transparent;
            padding: 5px;
        }

        #filters label {
            font-size: calc(0.8vw + 6px);
            /* Adjust base font size plus a scaling factor based on the viewport width */
            padding: 5px;
            display: inline-block;
        }

        #eventModal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(250, 250, 250, 0.75);
            /* semi-transparent black background */
            display: none;
            /* hidden by default */
            align-items: center;
            justify-content: center;
            z-index: 1000;
        }

        #eventDetails {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 50%;
            /* or any suitable width */
            text-align: left;
        }

        button {
            cursor: pointer;
        }

        button:hover {
            background-color: deeppink;
        }

        .fc-event {
            cursor: pointer;
        }
    </style>

</head>

<body class="pt-3 pb-3">

    <div class="container">
        <header class="row mb-4">
            <div class="col-12 border border-secondary">
                <nav class="navbar pt-3 pb-3">
                    <a href="#" class="navbar-brand">BeWisePlanner</a>
                    <div class="d-flex flew-row column-gap-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Lägg till
                            </button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#add-course-modal">Kurs</button>
                                <button class="dropdown-item" type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#add-goal-modal" hx-get="/get-user-courses"
                                    hx-target="#course-select">Mål</button>
                                <button class="dropdown-item" type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#add-assignment-modal"
                                    hx-get="/get-user-goals" hx-target="#goal-select">Uppgift</button>
                                <button class="dropdown-item" type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#add-subtask-modal"
                                    hx-get="/get-user-assignments" hx-target="#assignment-select">Deluppgift</button>
                                <button class="dropdown-item" type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#add-event-modal"
                                    hx-get="/get-user-courses/events" hx-target="#event-course-select">Händelse</button>
                            </div>
                        </div>

                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Visa
                            </button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#view-courses-modal" hx-get="/view-courses"
                                    hx-target="#my-courses-list">Kurser</button>
                                <button class="dropdown-item" type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#view-goals-modal" hx-get="/view-goals"
                                    hx-target="#my-goals-list">Mål</button>
                                <button class="dropdown-item" type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#view-assignments-modal"
                                    hx-get="/view-assignments" hx-target="#my-assignments-list">Uppgifter</button>
                                <button class="dropdown-item" type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#view-subtasks-modal" hx-get="/view-subtasks"
                                    hx-target="#my-subtasks-list">Deluppgifter</button>
                                <button class="dropdown-item" type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#view-events-modal" hx-get="/view-events"
                                    hx-target="#my-events-list">Händelser</button>
                            </div>
                        </div>
                    </div>
                    <p>Användare: {{ user }}</p>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Byt användare
                        </button>
                        <div class="dropdown-menu">
                            <button type="button" class="dropdown-item" hx-get="/switch-user/1" hx-trigger="click"
                                hx-swap="none">Användare 1</button>
                            <button type="button" class="dropdown-item" hx-get="/switch-user/2"
                                hx-trigger="click" hx-swap="none">Användare 2</button>
                        </div>
                    </div>
                </nav>
            </div>
        </header>




        <div class="row mb-4 column-gap-3">
            <div class="col-4 border border-secondary">
                <div id="todo">
                    <h2 id="todo-heading">Att göra idag</h2>
                    <div id="todo-list">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Kurshändelse</h5>
                                <p class="card-text">Tid: 08.00-10.00</p>
                                <p class="card-text">Lokal: NI0606</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Anvhändelse</h5>
                                <p class="card-text">Tid: 08.00-10.00</p>
                            </div>
                        </div>
                        % for task in todo_tasks:
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ task["title"] }}</h5>
                                <ul class="list-group">
                                    % for subtask in task["subtasks"]:
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" id="{{ subtask['id'] }}" hx-patch="/todo-update/{{ subtask['id'] }}" hx-trigger="click" hx-swap="none">
                                        <label class="form-check-label" for="{{ subtask['id'] }}">{{ subtask["title"] }}</label>
                                        <p>{{ subtask["completed"] }}</p>
                                    </li>
                                    % end
                                </ul>
                            </div>
                        </div>
                        % end
                    </div>
                </div>
            </div>

            <div class="col">
                <div id='calendar'></div>

                <!-- Event Modal -->
                <div id="eventModal">
                    <div id="eventDetails"></div>

                    <button id="closeButton">Close</button>
                </div>
                <div id="filters">
                    <label><input type="checkbox" id="filter-goals" checked> Goals</label>
                    <label><input type="checkbox" id="filter-assignments" checked> Assignments</label>
                    <label><input type="checkbox" id="filter-course_events" checked> Course Events</label>
                </div>
            </div>
        </div>


        <div class="row row-cols-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle">Kursnamn</h6>
                    <h5 class="card-title">Mål</h5>
                    <p class="card-text">3 dagar kvar</p>
                    <p class="card-text">2/5 uppgifter avklarade</p>
                    <button class="btn btn-primary btn-sm toggle-task-button">Uppgifter</button>
                    <div class="task-list">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Uppgift 1</h5>
                                <p class="card-text">2 dagar kvar</p>
                                <p class="card-text">1/3 deluppgifter avklarade</p>
                                <button class="btn btn-primary btn-sm toggle-subtask-button">Deluppgifter</button>
                                <ul class="list-group subtask-list">
                                    <li class="list-group-item">Deluppgift 1</li>
                                    <li class="list-group-item">Deluppgift 2</li>
                                    <li class="list-group-item">Deluppgift 3</li>
                                </ul>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Uppgift 2</h5>
                                <p class="card-text">5 dagar kvar</p>
                                <p class="card-text">2/4 deluppgifter avklarade</p>
                                <button class="btn btn-primary btn-sm toggle-subtask-button">Deluppgifter</button>
                                <ul class="list-group subtask-list">
                                    <li class="list-group-item">Deluppgift 1</li>
                                    <li class="list-group-item">Deluppgift 2</li>
                                    <li class="list-group-item">Deluppgift 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle">Kursnamn</h6>
                    <h5 class="card-title">Mål</h5>
                    <p class="card-text">3 dagar kvar</p>
                    <p class="card-text">2/5 uppgifter avklarade</p>
                    <button class="btn btn-primary btn-sm toggle-task-button">Uppgifter</button>
                    <div class="task-list">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Uppgift 1</h5>
                                <p class="card-text">2 dagar kvar</p>
                                <p class="card-text">1/3 deluppgifter avklarade</p>
                                <button class="btn btn-primary btn-sm toggle-subtask-button">Deluppgifter</button>
                                <ul class="list-group subtask-list">
                                    <li class="list-group-item">Deluppgift 1</li>
                                    <li class="list-group-item">Deluppgift 2</li>
                                    <li class="list-group-item">Deluppgift 3</li>
                                </ul>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Uppgift 2</h5>
                                <p class="card-text">5 dagar kvar</p>
                                <p class="card-text">2/4 deluppgifter avklarade</p>
                                <button class="btn btn-primary btn-sm toggle-subtask-button">Deluppgifter</button>
                                <ul class="list-group subtask-list">
                                    <li class="list-group-item">Deluppgift 1</li>
                                    <li class="list-group-item">Deluppgift 2</li>
                                    <li class="list-group-item">Deluppgift 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle">Kursnamn</h6>
                    <h5 class="card-title">Mål</h5>
                    <p class="card-text">3 dagar kvar</p>
                    <p class="card-text">2/5 uppgifter avklarade</p>
                    <button class="btn btn-primary btn-sm toggle-task-button">Uppgifter</button>
                    <div class="task-list">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Uppgift 1</h5>
                                <p class="card-text">2 dagar kvar</p>
                                <p class="card-text">1/3 deluppgifter avklarade</p>
                                <button class="btn btn-primary btn-sm toggle-subtask-button">Deluppgifter</button>
                                <ul class="list-group subtask-list">
                                    <li class="list-group-item">Deluppgift 1</li>
                                    <li class="list-group-item">Deluppgift 2</li>
                                    <li class="list-group-item">Deluppgift 3</li>
                                </ul>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Uppgift 2</h5>
                                <p class="card-text">5 dagar kvar</p>
                                <p class="card-text">2/4 deluppgifter avklarade</p>
                                <button class="btn btn-primary btn-sm toggle-subtask-button">Deluppgifter</button>
                                <ul class="list-group subtask-list">
                                    <li class="list-group-item">Deluppgift 1</li>
                                    <li class="list-group-item">Deluppgift 2</li>
                                    <li class="list-group-item">Deluppgift 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    </div>











    <!-- Modal: lägg till kurs -->
    <div class="modal fade" id="add-course-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-course-heading">Lägg till kurs</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-course-form" hx-post="/add-course" hx-trigger="submit" hx-swap="none">
                        <div class="mb-3">
                            <label for="course-code" class="form-label">Kurskod</label>
                            <input type="text" id="course-code" name="course_code" class="form-control"
                                placeholder="Ange kurskod." required>
                        </div>

                        <button type="submit" class="btn btn-primary">Slutför</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: lägg till mål -->
    <div class="modal fade" id="add-goal-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-goal-heading">Lägg till mål</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-goal-form" hx-post="/add-goal" hx-trigger="submit" hx-swap="none">
                        <div class="mb-3">
                            <label for="course-select" class="form-label">Välj kurs</label>
                            <select id="course-select" name="chosen_course" class="form-select">

                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="goal-title" class="form-label">Titel</label>
                            <input type="text" id="goal-title" name="goal_title" class="form-control"
                                placeholder="Vad ska göras?" required>
                        </div>
                        <div class="mb-3">
                            <label for="goal-type" class="form-label">Typ</label>
                            <input type="text" id="goal-type" name="goal_type" class="form-control"
                                placeholder="Vilken typ av mål?" required>
                        </div>
                        <div class="mb-3">
                            <label for="goal-startdate" class="form-label">Ange startdatum</label>
                            <input type="date" id="goal-startdate" name="goal_startdate" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="goal-enddate" class="form-label">Ange deadline</label>
                            <input type="date" id="goal-enddate" name="goal_enddate" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-primary">Slutför</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: lägg till uppgift -->
    <div class="modal fade" id="add-assignment-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-assignment-heading">Lägg till uppgift</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-assignment-form" hx-post="/add-assignment" hx-trigger="submit" hx-swap="none">
                        <div class="mb-3">
                            <label for="goal-select" class="form-label">Välj mål</label>
                            <select id="goal-select" name="chosen_goal" class="form-select">

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="assignment-title" class="form-label">Titel</label>
                            <input type="text" id="assignment-title" name="assignment_title" class="form-control"
                                placeholder="Vad ska göras?" required>
                        </div>
                        <div class="mb-3">
                            <label for="assignment-type" class="form-label">Typ</label>
                            <input type="text" id="assignment-type" name="assignment_type" class="form-control"
                                placeholder="Vilken typ av uppgift?" required>
                        </div>
                        <div class="mb-3">
                            <label for="assignment-startdate" class="form-label">Ange startdatum (kan väljas inom målets
                                intervall)</label>
                            <input type="date" id="assignment-startdate" name="assignment_startdate"
                                class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="assignment-enddate" class="form-label">Ange deadline (kan väljas inom målets
                                intervall)</label>
                            <input type="date" id="assignment-enddate" name="assignment_enddate" class="form-control"
                                required>
                        </div>

                        <button type="submit" class="btn btn-primary">Slutför</button>


                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: lägg till deluppgift -->
    <div class="modal fade" id="add-subtask-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-subtask-heading">Lägg till deluppgift</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-subtask-form" hx-post="/add-subtask" hx-trigger="submit" hx-swap="none">
                        <div class="mb-3">
                            <label for="assignment-select" class="form-label">Välj uppgift</label>
                            <select id="assignment-select" name="chosen_assignment" class="form-select">

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="subtask-title" class="form-label">Titel</label>
                            <input type="text" id="subtask-title" name="subtask_title" class="form-control"
                                placeholder="Vad ska göras?" required>
                        </div>
                        <div class="mb-3">
                            <label for="subtask-date" class="form-label">Välj datum (kan väljas inom uppgiftens
                                intervall)</label>
                            <input type="date" id="subtask-date" name="subtask_date" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-primary">Slutför</button>


                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal: lägg till händelse -->
    <div class="modal fade" id="add-event-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-event-heading">Lägg till händelse</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-event-form" hx-post="/add-event" hx-trigger="submit" hx-swap="none">
                        <div class="mb-3">
                            <label for="event-course-select" class="form-label">Kurs</label>
                            <select id="event-course-select" name="chosen_course" class="form-select">
                                <option value="">Hej</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="event-description" class="form-label">Beskrivning</label>
                            <input type="text" id="event-description" name="event_description" class="form-control"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="event-type" class="form-label">Typ av händelse</label>
                            <input type="text" id="event-type" name="event_type" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="weekday-select" class="form-label">Veckodag</label>
                            <select id="weekday-select" name="chosen_weekday" class="form-select">
                                <option value="monday">Måndag</option>
                                <option value="tuesday">Tisdag</option>
                                <option value="wednesday">Onsdag</option>
                                <option value="thursday">Torsdag</option>
                                <option value="friday">Fredag</option>
                                <option value="saturday">Lördag</option>
                                <option value="sunday">Söndag</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="event-date" class="form-label">Datum</label>
                            <input type="date" id="event-date" name="event_date" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="event-starttime" class="form-label">Starttid</label>
                            <input type="time" id="event-starttime" name="event_starttime" class="form-control"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="event-endtime" class="form-label">Sluttid</label>
                            <input type="time" id="event-endtime" name="event_endtime" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="event-location" class="form-label">Plats</label>
                            <input type="text" id="event-location" name="event_location" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-primary">Slutför</button>

                    </form>
                </div>
            </div>
        </div>
    </div>





    <!-- Modal: visa kurser -->
    <div class="modal fade" id="view-courses-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Mina kurser</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="my-courses-list"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: visa mål -->
    <div class="modal fade" id="view-goals-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Mina mål</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="my-goals-list"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: visa uppgifter -->
    <div class="modal fade" id="view-assignments-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Mina uppgifter</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="my-assignments-list"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: visa deluppgifter -->
    <div class="modal fade" id="view-subtasks-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Mina deluppgifter</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="my-subtasks-list"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: visa händelser -->
    <div class="modal fade" id="view-events-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Mina händelser</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="my-events-list"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- User feedback popups -->
    <!-- Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="successModalLabel">Success</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Åtgärden lyckades!
                </div>
            </div>
        </div>
    </div>
    <!-- Error Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="errorModalLabel">Error</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Något fick fel. Vänligen försök igen.
                </div>
            </div>
        </div>
    </div>







    <script>
        function adjustLabelFontSize() {
            var calendarWidth = document.getElementById('calendar').offsetWidth; // Get the current width of the calendar
            var baseSize = 6; // Base font size in pixels
            var scalingFactor = 0.005; // Scaling factor based on the calendar width

            var newSize = baseSize + (calendarWidth * scalingFactor) + 'px';
            var labels = document.querySelectorAll('#filters label');
            labels.forEach(function (label) {
                label.style.fontSize = newSize; // Set new font size for each label
            });
        }
        document.addEventListener('DOMContentLoaded', function () {

            // fetchTodayTasks().then(tasks => {
            //     const todoList = document.getElementById('todoList');
            //     tasks.forEach(task => {
            //         // Create list item
            //         const taskElement = document.createElement('li');
            //         taskElement.className = 'list-group-item';

            //         // Create checkbox
            //         const checkbox = document.createElement('input');
            //         checkbox.type = 'checkbox';
            //         checkbox.className = 'task-checkbox';

            //         // Create label for checkbox
            //         const label = document.createElement('label');
            //         label.textContent = task.title; // Adjust as per your data structure

            //         // Append checkbox and label to list item
            //         taskElement.appendChild(checkbox);
            //         taskElement.appendChild(label);

            //         // Append list item to the todoList
            //         todoList.appendChild(taskElement);
            //     });
            // });

            // async function fetchTodayTasks() {
            //     // Fetch data from server (use your actual API endpoint)
            //     const response = await fetch('/api/today-tasks');
            //     const data = await response.json();
            //     return data; // This should return tasks for the current day
            // }
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {

                headerToolbar: {
                    left: 'dayGridMonth,timeGridWeek,timeGridDay',
                    center: 'title',
                    right: 'prev,next today'
                },

                timeZone: 'none',
                weekNumbers: true,
                displayEventEnd: true,
                firstDay: 1,
                weekText: "",
                eventTimeFormat: { // like '14:30:00'
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                },
                initialView: 'dayGridMonth',
                eventDidMount: function () {
                    var calendarHeader = document.querySelector('.fc-header-toolbar');
                    var filters = document.getElementById('filters');
                    if (calendarHeader && filters) {
                        calendarHeader.appendChild(filters);
                        filters.style.display = 'block'; // or adjust based on your display logic
                    }
                },

                events: function (fetchInfo, successCallback, failureCallback) {
                    let filters = [];

                    if (document.getElementById('filter-goals').checked) filters.push('goals');
                    if (document.getElementById('filter-assignments').checked) filters.push('assignments');
                    if (document.getElementById('filter-course_events').checked) filters.push('course_events');

                    fetch(`/api/calendar?types=${filters.join(',')}`)
                        .then(response => response.json())
                        .then(data => successCallback(data))
                        .catch(error => failureCallback(error));
                },



                eventClick: function (info) {

                    var eventDetails = '';
                    switch (info.event.extendedProps.event_type) {
                        case 'course':

                            eventDetails = `
                    <p>Course: ${info.event.extendedProps.coursecode} ${info.event.title}</p>
                    <p>Date: ${info.event.startStr.split('T')[0]} - ${info.event.endStr.split('T')[0]}</p>

                `;
                            break;
                        case 'goal':
                            // Add or remove data as per your requirement

                            break;
                        case 'assignment':
                            // Add or remove data as per your requirement
                            break;
                        case 'course_event':
                            eventDetails = `
                    <p>Course Code: ${info.event.extendedProps.coursecode}</p>
                    <p>Date: ${info.event.startStr.split('T')[0]}</p>
                    <p>Time: ${info.event.startStr.split('T')[1]} - ${info.event.endStr.split('T')[1]}</p>
                    <p>Location: ${info.event.extendedProps.location}</p>
                    <p>Description: ${info.event.title}</p>
                `;
                            break;
                        default:
                            // Default case if no type matches
                            break;
                    }
                    document.getElementById("eventDetails").innerHTML = eventDetails;
                    document.getElementById("eventModal").style.display = "flex";
                }


            });
            calendar.render();


            adjustLabelFontSize(); // Adjust font size on initial load

            window.addEventListener('resize', function () {
                adjustLabelFontSize(); // Adjust font size on window resize
            });

            function adjustFiltersPosition() {
                var calendarHeader = document.querySelector('.fc-header-toolbar');
                if (calendarHeader) {
                    var filters = document.getElementById('filters');
                    filters.style.top = calendarHeader.offsetHeight + 'px'; // Dynamically set the top position
                    filters.style.display = 'background';
                }
            }

            document.getElementById("closeButton").addEventListener('click', closeModal);
            // Re-fetch events when the event type is changed

            document.querySelectorAll('#filters input').forEach(input => {
                input.addEventListener('change', function () {
                    calendar.refetchEvents();
                });
            });
        });
        function closeModal() {
            document.getElementById("eventModal").style.display = "none";
        }






        $(document).ready(function () {
            $(".toggle-task-button").click(function () {
                $(this).closest('.card').find('.task-list').toggle();
            });
        });

        $(document).ready(function () {
            $(".toggle-subtask-button").click(function () {
                $(this).closest('.card').find('.subtask-list').toggle();
            });
        });
    </script>

    <script>
        function adjustLabelFontSize() {
            var calendarWidth = document.getElementById('calendar').offsetWidth; // Get the current width of the calendar
            var baseSize = 6; // Base font size in pixels
            var scalingFactor = 0.005; // Scaling factor based on the calendar width

            var newSize = baseSize + (calendarWidth * scalingFactor) + 'px';
            var labels = document.querySelectorAll('#filters label');
            labels.forEach(function (label) {
                label.style.fontSize = newSize; // Set new font size for each label
            });
        }
        document.addEventListener('DOMContentLoaded', function () {

            fetchTodayTasks().then(tasks => {
                const todoList = document.getElementById('todoList');
                tasks.forEach(task => {
                    const taskElement = document.createElement('li');
                    taskElement.className = 'list-group-item';
                    taskElement.textContent = task.title; // Adjust as per your data structure
                    todoList.appendChild(taskElement);
                });
            });

            async function fetchTodayTasks() {
                // Fetch data from server (use your actual API endpoint)
                const response = await fetch('/api/today-tasks');
                const data = await response.json();
                return data; // This should return tasks for the current day
            }
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {

                headerToolbar: {
                    left: 'dayGridMonth,timeGridWeek,timeGridDay',
                    center: 'title',
                    right: 'prev,next today'
                },

                timeZone: 'none',
                weekNumbers: true,
                displayEventEnd: true,
                firstDay: 1,
                weekText: "",
                eventTimeFormat: { // like '14:30:00'
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                },
                initialView: 'dayGridMonth',
                eventDidMount: function () {
                    var calendarHeader = document.querySelector('.fc-header-toolbar');
                    var filters = document.getElementById('filters');
                    if (calendarHeader && filters) {
                        calendarHeader.appendChild(filters);
                        filters.style.display = 'block'; // or adjust based on your display logic
                    }
                },

                events: function (fetchInfo, successCallback, failureCallback) {
                    let filters = [];

                    if (document.getElementById('filter-goals').checked) filters.push('goals');
                    if (document.getElementById('filter-assignments').checked) filters.push('assignments');
                    if (document.getElementById('filter-course_events').checked) filters.push('course_events');

                    fetch(`/api/calendar?types=${filters.join(',')}`)
                        .then(response => response.json())
                        .then(data => successCallback(data))
                        .catch(error => failureCallback(error));
                },



                eventClick: function (info) {
                    let linkedEvents = calendar.getEvents().filter(e => e.extendedProps.linkId === info.event.extendedProps.linkId);
                    // Now `linkedEvents` contains both the start and end events linked by `linkId`

                    // Example: you could prompt the user to edit details, and apply changes to all linked events
                    /*linkedEvents.forEach(e => {
                        e.setProp('title', 'Updated ' + e.title); // Example modification
                    });*/
                    var eventDetails = '';
                    switch (info.event.extendedProps.event_type) {
                        case 'course':

                            eventDetails = `
                        <p>Course: ${info.event.extendedProps.coursecode} ${info.event.extendedProps.description}</p>
                        <p>Date: ${info.event.extendedProps.actualStart.split('T')[0]} - ${info.event.extendedProps.actualEnd.split('T')[0]}</p>

                    `;
                            break;
                        case 'goal':
                            // Add or remove data as per your requirement

                            break;
                        case 'assignment':
                            // Add or remove data as per your requirement
                            break;
                        case 'course_event':
                            eventDetails = `
                        <p>Course Code: ${info.event.extendedProps.coursecode}</p>
                        <p>Date: ${info.event.startStr.split('T')[0]}</p>
                        <p>Time: ${info.event.startStr.split('T')[1]} - ${info.event.endStr.split('T')[1]}</p>
                        <p>Location: ${info.event.extendedProps.location}</p>
                        <p>Description: ${info.event.title}</p>
                    `;
                            break;
                        default:
                            // Default case if no type matches
                            break;
                    }
                    document.getElementById("eventDetails").innerHTML = eventDetails;
                    document.getElementById("eventModal").style.display = "flex";
                }


            });
            calendar.render();


            adjustLabelFontSize(); // Adjust font size on initial load

            window.addEventListener('resize', function () {
                adjustLabelFontSize(); // Adjust font size on window resize
            });

            function adjustFiltersPosition() {
                var calendarHeader = document.querySelector('.fc-header-toolbar');
                if (calendarHeader) {
                    var filters = document.getElementById('filters');
                    filters.style.top = calendarHeader.offsetHeight + 'px'; // Dynamically set the top position
                    filters.style.display = 'background';
                }
            }

            document.getElementById("closeButton").addEventListener('click', closeModal);
            // Re-fetch events when the event type is changed

            document.querySelectorAll('#filters input').forEach(input => {
                input.addEventListener('change', function () {
                    calendar.refetchEvents();
                });
            });
        });
        function closeModal() {
            document.getElementById("eventModal").style.display = "none";
        }














        //    Handle modals for form submits to inform the user if the action was successful or not
        document.body.addEventListener('htmx:afterRequest', function (event) {
            // Check if the target element of the event is a form
            if (event.target.tagName.toLowerCase() === 'form') {
                if (event.detail.successful) {
                    const response = event.detail.xhr.responseText;
                    if (response === "success") {
                        $('#add-course-modal').modal('hide');
                        $('#successModal').modal('show');

                        $('#successModal').on('hidden.bs.modal', function () {
                            window.location.href = "/";
                        });
                    } else {
                        console.log("Not gonna close because it failed");
                        $('#errorModal').modal('show');
                    }
                }
            }
        });


        document.body.addEventListener('htmx:afterRequest', function (event) {
            // Check if the target element of the event is a form
            if (event.target.tagName.toLowerCase() === 'button' && event.target.hasAttribute('hx-delete')) {
                if (event.detail.successful) {
                    const response = event.detail.xhr.responseText;
                    if (response === "success") {
                        $('#view-courses-modal').modal('hide');
                        $('#successModal').modal('show');

                        $('#successModal').on('hidden.bs.modal', function () {
                            window.location.href = "/";
                        });
                    } else {
                        console.log("Not gonna close because it failed");
                        $('#errorModal').modal('show');
                    }
                }
            }
        });



        document.body.addEventListener('htmx:afterRequest', function (event) {
            // Check if the target element of the event is a form
            if (event.target.tagName.toLowerCase() === 'form') {
                if (event.detail.successful) {
                    const response = event.detail.xhr.responseText;
                    if (response === "success") {
                        $('#add-goal-modal').modal('hide');
                        $('#successModal').modal('show');

                        $('#successModal').on('hidden.bs.modal', function () {
                            window.location.href = "/";
                        });
                    } else {
                        console.log("Not gonna close because it failed");
                        $('#errorModal').modal('show');
                    }
                }
            }
        });


        document.body.addEventListener('htmx:afterRequest', function (event) {
            // Check if the target element of the event is a form
            if (event.target.tagName.toLowerCase() === 'button' && event.target.hasAttribute('hx-delete')) {
                if (event.detail.successful) {
                    const response = event.detail.xhr.responseText;
                    if (response === "success") {
                        $('#view-goals-modal').modal('hide');
                        $('#successModal').modal('show');

                        $('#successModal').on('hidden.bs.modal', function () {
                            window.location.href = "/";
                        });
                    } else {
                        console.log("Not gonna close because it failed");
                        $('#errorModal').modal('show');
                    }
                }
            }
        });



        document.body.addEventListener('htmx:afterRequest', function (event) {
            // Check if the target element of the event is a form
            if (event.target.tagName.toLowerCase() === 'form') {
                if (event.detail.successful) {
                    const response = event.detail.xhr.responseText;
                    if (response === "success") {
                        $('#add-assignment-modal').modal('hide');
                        $('#successModal').modal('show');

                        $('#successModal').on('hidden.bs.modal', function () {
                            window.location.href = "/";
                        });
                    } else {
                        console.log("Not gonna close because it failed");
                        $('#errorModal').modal('show');
                    }
                }
            }
        });


        document.body.addEventListener('htmx:afterRequest', function (event) {
            // Check if the target element of the event is a form
            if (event.target.tagName.toLowerCase() === 'button' && event.target.hasAttribute('hx-delete')) {
                if (event.detail.successful) {
                    const response = event.detail.xhr.responseText;
                    if (response === "success") {
                        $('#view-assignments-modal').modal('hide');
                        $('#successModal').modal('show');

                        $('#successModal').on('hidden.bs.modal', function () {
                            window.location.href = "/";
                        });
                    } else {
                        console.log("Not gonna close because it failed");
                        $('#errorModal').modal('show');
                    }
                }
            }
        });



        document.body.addEventListener('htmx:afterRequest', function (event) {
            // Check if the target element of the event is a form
            if (event.target.tagName.toLowerCase() === 'form') {
                if (event.detail.successful) {
                    const response = event.detail.xhr.responseText;
                    if (response === "success") {
                        $('#add-subtask-modal').modal('hide');
                        $('#successModal').modal('show');

                        $('#successModal').on('hidden.bs.modal', function () {
                            window.location.href = "/";
                        });
                    } else {
                        console.log("Not gonna close because it failed");
                        $('#errorModal').modal('show');
                    }
                }
            }
        });


        document.body.addEventListener('htmx:afterRequest', function (event) {
            // Check if the target element of the event is a form
            if (event.target.tagName.toLowerCase() === 'button' && event.target.hasAttribute('hx-delete')) {
                if (event.detail.successful) {
                    const response = event.detail.xhr.responseText;
                    if (response === "success") {
                        $('#view-subtasks-modal').modal('hide');
                        $('#successModal').modal('show');

                        $('#successModal').on('hidden.bs.modal', function () {
                            window.location.href = "/";
                        });
                    } else {
                        console.log("Not gonna close because it failed");
                        $('#errorModal').modal('show');
                    }
                }
            }
        });



        document.body.addEventListener('htmx:afterRequest', function (event) {
            // Check if the target element of the event is a form
            if (event.target.tagName.toLowerCase() === 'form') {
                if (event.detail.successful) {
                    const response = event.detail.xhr.responseText;
                    if (response === "success") {
                        $('#add-event-modal').modal('hide');
                        $('#successModal').modal('show');

                        $('#successModal').on('hidden.bs.modal', function () {
                            window.location.href = "/";
                        });
                    } else {
                        console.log("Not gonna close because it failed");
                        $('#errorModal').modal('show');
                    }
                }
            }
        });


        document.body.addEventListener('htmx:afterRequest', function (event) {
            // Check if the target element of the event is a form
            if (event.target.tagName.toLowerCase() === 'button' && event.target.hasAttribute('hx-delete')) {
                if (event.detail.successful) {
                    const response = event.detail.xhr.responseText;
                    if (response === "success") {
                        $('#view-events-modal').modal('hide');
                        $('#successModal').modal('show');

                        $('#successModal').on('hidden.bs.modal', function () {
                            window.location.href = "/";
                        });
                    } else {
                        console.log("Not gonna close because it failed");
                        $('#errorModal').modal('show');
                    }
                }
            }
        });




    </script>

</body>

</html>