<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Mina kurser</h1>

    <div class="mycourselist">
        % for course in courses:
            <a href="{{ course['kurskod'] }}">{{ course["kurskod"] }} - {{ course["titel"] }}</a>
        % end
    </div>

    <a href="/new-course">Ny kurs</a>


</body>
</html>