<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uppgifter - {{ course["kurskod"] }} {{ course["titel"] }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Uppgifter för {{ course["kurskod"] }} {{ course["titel"] }}</h1>
    <h2>Att göra</h2>
    <ul class="taskslist">
        % for task in tasks:
            <a href="/{{ course['kurskod'] }}/tasks/{{ task['id'] }}">
                <li>{{ task }}</li>
            </a>
        % end
    </ul>

    <form action="/add-task" method="post">
        <h2>Lägg till uppgift</h2>
        
        <label for="task_title">Titel:</label>
        <input type="text" id="task_title" name="task_title" required>
  
        <label for="task_date">Datum:</label>
        <input type="date" id="task_date" name="task_date" min="" required>

        <input type="hidden" name="coursecode" value="{{ course['kurskod'] }}">

        <button type="submit">Lägg till</button>
    </form>

    <a href="/{{ course['kurskod'] }}">Tillbaka till kurssidan</a>

    <script>
        // Get the current date in the format yyyy-mm-dd
        const currentDate = new Date().toISOString().split('T')[0];
        
        // Set the minimum selectable date for the input element
        document.getElementById('task_date').min = currentDate;
    </script>
</body>
</html>