% for assignment in assignments:
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ assignment["title"] }}</h5>
        <p class="card-text">Startdatum: {{ assignment["start"] }}</p> 
        <p class="card-text">Slutdatum: {{ assignment["end"] }}</p>
        <p class="card-text">Typ: {{ assignment["type"] }}</p>
        <p class="card-text">Slutförd: {{ assignment["completed"] }}</p>
    </div>
    <div class="card-footer">
        <button class="btn btn-danger" hx-delete="/delete-assignment/{{ assignment['id'] }}" hx-confirm="Är du säker?">Ta bort</button>
    </div>
</div>
% end