<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Viktiga datum för kurs</h1>
    <ul class="dateslist">
        <li>Inlämning 1: 31 mars (4dagar kvar)</li>
        <li>Seminarium: 31 mars (4dagar kvar)</li>
        <li>Inlämning 2: 2 april (6dagar kvar)</li>
        <li>Presentation: 4 april (8dagar kvar)</li>
        <li>Inlämning 1: 5 april (9dagar kvar)</li>
    </ul>
</body>
</html>