<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Mina kurser</h1>
    <ul class="courselist">
        <li>{{ courseCode }}</li>
    </ul>
    <div>
        <a href="/schedule">Schema</a>
        <a href="/importantdates">Viktiga datum</a>
        <a href="/tasks">Uppgifter</a>
    </div>
</body>
</html>