<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tidsplanering - {{ course["kurskod"] }} {{ course["titel"] }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
    <h1>Tidsplanering för {{ course["kurskod"] }} {{ course["titel"] }}</h1>
    <h2>Inlagda tidsblock</h2>

    <ul class="timeblockslist">
        % for timeblock in timeblocks:
            <a href="/{{ course['kurskod'] }}/schedule/{{ timeblock['id'] }}">
                <li>{{ timeblock }}</li>
            </a>
        % end
    </ul>

    <form action="/add-timeblock" method="post" onsubmit="validateTime(event)">
        <h2>Lägg till tidsblock</h2>
        
        <label for="timeblock_title">Titel:</label>
        <input type="text" id="timeblock_title" name="timeblock_title" required>
  
        <label for="timeblock_date">Datum:</label>
        <input type="date" id="timeblock_date" name="timeblock_date" min="" required>

        <label for="timeblock_start_time">Starttid:</label>
        <input type="time" id="timeblock_start_time" name="timeblock_start_time" required>

        <label for="timeblock_end_time">Sluttid:</label>
        <input type="time" id="timeblock_end_time" name="timeblock_end_time" required>

        <input type="hidden" name="coursecode" value="{{ course['kurskod'] }}">

        <button type="submit">Lägg till</button>
    </form>

    <a href="/{{ course['kurskod'] }}">Tillbaka till kurssidan</a>

    <script>
        // Get the current date in the format yyyy-mm-dd
        const currentDate = new Date().toISOString().split('T')[0];
        
        // Set the minimum selectable date for the input element
        document.getElementById('timeblock_date').min = currentDate;


        function validateTime(event) {
            const startTime = document.getElementById("timeblock_start_time").value;
            const endTime = document.getElementById("timeblock_end_time").value;

            if (startTime >= endTime) {
                alert("Starttid måste vara tidigare än sluttid.");
                event.preventDefault(); // Prevent form submission
            }
        }
    </script>
</body>
</html>