<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="container">
        <h1>Schema för kurs</h1>
        <div class="timeblock">
            <h2>Måndag 8 april</h2>
            <p>10:00-12:00</p>
            <p>Föreläsning</p>
        </div>
        <div class="timeblock">
            <h2>Onsdag 10 april</h2>
            <p>13:00-15:00</p>
            <p>Workshop</p>
        </div>
        <div class="timeblock">
            <h2>Torsdag 11 april</h2>
            <p>8:00-12:00</p>
            <p>Labb</p>
        </div>
    </div>
</body>
</html>