<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>{{ course["kurskod"] }} {{ course["titel"] }}</h1>
    <h2>Tidsblock</h2>
    <p>{{ timeblock["titel"] }} {{ timeblock["datum"] }} {{ timeblock["starttid"] }}-{{ timeblock["sluttid"] }}</p>

    <a href="/{{ course['kurskod'] }}/schedule">Tillbaka till tidsplanering</a>
</body>
</html>