body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #container {
    width: 80%;
    margin-inline: auto;
} */

.timeblock {
    background-color: pink;
    width: 200px;
}

.dateslist > * + * {
    margin-top: 1em;
}

.dateslist > li {
    background-color: pink;
    padding: 1em;
    list-style: none;
}

.taskslist > * + * {
    margin-top: 1em;
}

.taskslist > li {
    background-color: pink;
    padding: 1em;
    list-style: none;
}

.courselist > li{
    background-color: pink;
    padding: 1em;
    list-style: none;
}